<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{- /*gotype: smart-docs/core/models.PageView*/ -}}
<script src="/assets/annotator/browser/main.js" type="module"></script>
<link href="/assets/annotator/browser/styles.css" rel="stylesheet" >
<nav>
    <a href="/">Documents</a>
    <a href="/annotate" class="active">Annotate Docs</a>
    <div style="flex-grow: 1"></div>
    <a id="nextDocumentLink" href="/annotate">
        Next To Annotate (shift + enter)
    </a>
    <a href="/document/{{.DocumentId}}?page={{.PageNum}}">
        View
    </a>
    <div style="flex-grow: 1"></div>

    {{template "page-status" . }}
</nav>
<app-annotation-tool
        type="DOCUMENT"
        document-id="{{.DocumentId}}"
        page-number="{{.PageNum}}"
        image-width="{{.Width}}px"
        image-height="{{.Height}}px"
></app-annotation-tool>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const link = document.getElementById('nextDocumentLink');

        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && event.shiftKey) {
                event.preventDefault(); // Prevent default Enter key behavior
                window.location.href = link.getAttribute('href');
            }
        });
    });
</script>
</body>
</html>
