<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{- /*gotype: smart-docs/core/models.PageView*/ -}}
<nav>

    <a href="/" class="active">Documents</a>
    /
    <span>{{.DocumentName}}</span>
    /
    <span>{{.PageNum}}</span>

    <div style="flex-grow: 1"></div>

    <div style="display: flex; gap: 4px">
        {{if .HasPreviousPage}}
            <a id="previous" class="btn-icon" href="/document/{{.DocumentId}}?page={{.PreviousPage}}">
                <img src="/assets/icons/chevron-left.svg" alt="Previous Page">
            </a>
        {{else}}
            <a class="btn-icon" disabled>
                <img src="/assets/icons/chevron-left.svg" alt="Previous Page">
            </a>
        {{end}}
        {{if .HasNextPage}}
            <a id="next" class="btn-icon" href="/document/{{.DocumentId}}?page={{.NextPage}}">
                <img src="/assets/icons/chevron-right.svg" alt="Next Page">
            </a>
        {{else}}
            <a class="btn-icon" disabled>
                <img src="/assets/icons/chevron-right.svg" alt="Next Page">
            </a>
        {{end}}
    </div>

    {{template "page-status" . }}
</nav>

<section>
    {{ template "page" . }}
</section>

{{ define "page" }}
    <img src="/assets/images/{{.DocumentId}}/{{.PageNum}}.prediction.jpg"  alt="Preview of page {{.PageNum}}" />
    <article>
        {{.Html}}
    </article>
{{ end }}

<script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowLeft') {
            const leftChevron = document.querySelector('a#previous');
            if (leftChevron instanceof HTMLAnchorElement) {
                leftChevron.click();
            }
        } else if (event.key === 'ArrowRight') {
            const rightChevron = document.querySelector('a#next');
            if (rightChevron instanceof HTMLAnchorElement) {
                rightChevron.click();
            }
        }
    });
</script>
</body>
</html>
