{{define "document-row"}}
    {{- /*gotype: smart-docs/core/models.Document*/ -}}
    <tr>
        <td>
            <a href="/document/{{.Id}}">{{.Name}}</a>
        </td>
        <td>
            {{.UploadDate}}
        </td>
        <td>
            {{.PageCount}}
        </td>
        <td>
            {{.InProgress}}
        </td>
        <td>
            {{.Validated}}
        </td>
        <td>
            <div style="display: flex; gap: 4px">
                <a class="btn-icon" href="/document/{{.Id}}/content" download="{{.Name}}.html">
                    <img src="/assets/icons/download.svg">
                </a>
                <a class="btn-icon"
                   hx-delete="/document/{{.Id}}"
                   hx-confirm="Are you sure? You will loose all training data"
                   hx-target="closest tr"
                   hx-swap="outerHTML swap:300ms"
                >
                    <img src="/assets/icons/trash.svg">
                </a>
                <a class="btn-icon {{if eq .Status "PROCESSING"}}rotate{{end}}"
                   {{if eq .Status "DONE"}}
                       hx-put="/document/{{.Id}}/retry"
                   {{end}}
                   {{if eq .Status "PROCESSING"}}
                       hx-get="/document/{{.Id}}"
                       hx-trigger="revealed delay:3s"
                       disabled
                   {{end}}
                   hx-target="closest tr"
                   hx-swap="outerHTML"
                >
                    <img src="/assets/icons/rotate.svg">
                </a>
            </div>
        </td>
    </tr>
{{end}}
{{template "document-row" .}}
