html {
    background: #f0f1f4;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    height: 100vh;
}

* {
    color: #484964;
}

app-annotation-tool {
    height: 100%;
}

p, span, button, a, div, th, td, b, em  {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

th, b {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, th {
    color: #242533;
}

a {
    color: #222;
    font-weight: 400;
}


/**
TABLE
 */

table.data-table {
    border: none;
    background: white;
    border-collapse: collapse;
}

table.data-table th, table.data-table td {
    border-top: 1px solid #EEEEF2;
    text-align: left;
    padding: 8px 16px;
}

table.data-table tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 300s ease-out;
}

table.data-table tr:last-child {
    td {
        border-bottom: 1px solid #EEEEF2;
    }
}

table.data-table td > a {
    text-decoration: none;
}

/**
BUTTONS
 */
.btn-icon {
    display: flex;
    cursor: pointer;
    padding: 4px;
    align-items: center;
}

.btn-icon[disabled] {
    opacity: .4;
    cursor: unset;
}

.btn-icon img {
    height: 14px;
    width: auto;
}

.btn-icon.rotate img {
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

/**
NAVIGATION
 */
nav {
    background: white;
    display: flex;
    gap: 8px;
    padding: 16px 24px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

nav > a {
    color: #808192;
    text-decoration: none;
}
nav > a.active  {
    color: #FC5621;
}

nav button.active {
    color: #FC5621;
}

/**
DOCS
 */
section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: nowrap;
    align-items: start;
}

section > img {
    border-radius: 10px;
    width: 50%;
    height: auto;
}

article {
    padding: 16px;
    max-width: 50%;
    background: white;
    border-radius: 10px;
}

article table {
    border: 1px solid #EEEEF2;
    border-collapse: collapse;
    border-radius: 10px;
}

article table td {
    border: 1px solid #EEEEF2;
    padding: 4px 8px;
    font-size: 14px;
}


/**
FILE UPLOAD
 */

.box {
    position: relative;
    outline: 2px dashed #ececec;
    background: white;
    outline-offset: -10px;
}

.box__input {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 70px;
}


.box.is-dragover {
    outline-color: #82add2;
}

.box__dragndrop,
.box__icon {
    display: none;
}

.box .box__dragndrop {
    display: inline;
    color: #82add2;
}

.box .box__icon {
    height: 20px;
    fill: #82add2;
    display: block;
}

.box.is-uploading .box__input {
    visibility: hidden;
}

.box__uploading {
    display: none;
    font-style: italic;
}

.box.is-uploading .box__uploading {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.box__success {
    animation: appear-from-inside .25s ease-in-out;
}


.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*.box__file + label {*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*    color: #FC5621;*/
/*}*/

label > strong {
    color: #82add2;
}

.box__button {
    display: none;
}
